/* .bg-image {
    background-image: url(images/banner.png), url(images/person\ 1.png);
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
} */
body {
    transition: 0.5s;
}

h5 {
    font-size: 40px;
    width: 50%;
    margin: 0 auto;
}

p {
    font-size: 16px;
    margin: 0 auto;
}

.font-color {
    color: #231D4F;
}

.text-color {
    color: #231D4F;
}

.para {
    color: #0B0D17;
    width: 50%;
}

.buying:hover {
    background-color: #478AF2;
    color: #FFFFFF;
}

.buying:hover .font-color {
    color: #FFFFFF;
}


.buying:hover .card-text {
    color: #FFFFFF;
}

.buying:hover .text-color {
    color: #FFFFFF;
}

.buying:hover .go-somewhere {
    background-color: #FFFFFF;
}

.go-somewhere:hover {
    color: #163aec;
}

.card-body {
    border-radius: 10px;
}

.book-now {
    color: #FFFFFF;
    background-color: #478AF2;
}

footer {
    background-color: #0B0D17;
}